@import 
    'vars';

.nav {
    position: absolute !important;
    top: 0;
    width: 100%;
    left: 0;
    color: #fff;
    z-index: 999;
    transition: all 0.3s linear;
    padding: 0;

    .add_border{
        border-bottom: 1px solid rgba(0, 146, 61, .1);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 0px 0px 8px 8px;
    }

    .logo {
        width: 120px;
        height: 35px;
        display: inline-block;
        position: relative;
    }

    a {
        color: $main-blk;
        font-weight: 500;
        font-size: $p-mb;
        font-family: $subhead-font;
    }

    .navicn{
        position: relative;
        border: none;
        outline: none;
        width: 24px;
        height: 24px;

        &:hover, &:focus, &:active{
            outline: none;
            border: none;
            box-shadow: none;
        }
    }

    .navlist{
        border-bottom: 3px solid rgba(0, 146, 61, .8);
    }

    &.scrolled {
        position: fixed !important;
        top: 0;
        background-color: $main-color;
        transition: all 0.3s linear;

        a {

            &:hover,
            &:focus {
                background-color: #fff;
                color: $main-color !important;
                transition: all 0.3s linear;
            }
        }
    }
}


@media screen and (min-width: 992px) {
    .nav {
        border-bottom: 1px solid rgba(0, 146, 61, .1);
        box-shadow: 0px 0 4px 0px rgba(0, 0, 0, 0.25);

        .logo {
            width: 180px;
            height: 50px;
        }

        .add_border{
            border: none;
            box-shadow: none;
            border-radius: 0;
        }
    }
}