$base-font: var(--font-open);
$heading-font: var(--font-abril);
$subhead-font: var(--font-old-stand);

$p-mb: 14px;
$p-des: 18px;

$h1-mb: 34px;
$h1-des: 45px;

$h2-mb: 27px;
$h2-des: 30px;

$h3-mb: 17px;
$h3-des: 24px;

$main-color: #32A763;
$sec-color: #E6C74B;
$main-blk: #1b1b1b;
$bg-green: #E5F4EB;
$bg-yel: #F7ECC4;